.logo {
  color: var(--logo-text-color);

  text-decoration: none;
  font-family: Raleway, cursive;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.page-header__logo {
  display: flex;
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo__accent {
  color: var(--acent-color);
  text-decoration: none;
}
