:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --acent-color: #2196f3;
  --title-list-color: #ffffff;
  --secondary-bg-color: #2f303a;
  --logo-text-color: #000000;
  --button-bg-color: #f5f4fa;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --team-shadow-color: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  --card-item: 3;
  --border-header-color: #ececec;
  --border-team-color: #eeeeee;
  --border-color: rgba(0, 0, 0, 0.1);
  --icon-color: #afb1b8;
  --social-bg-icon: #44454e;
  --overlay-clolor: rgba(33, 150, 243, 0.9);
  --time-use: cubic-bezier(0.4, 0, 0.2, 1);
  --time-ms: 250ms;
}
